body {
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
  text-decoration: none;
  color: black;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007BFF; /* Link hover color */
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 200px;
  outline: none;
  transition: width 0.3s ease;
}

.search-bar input:focus {
  width: 250px; /* Expands on focus */
  border-color: #007BFF; /* Change border color on focus */
}







.services {
  padding: 60px 0;
  background-color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #333;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 3000px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.card p {
  font-size: 1em;
  color: #666;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}